In [27]:
print("Hello World!")

Hello World!

In [28]:
# Create a list of numbers from 20 to 50
import pandas as pd
data = [20, 30, 40, 50]
v = pd.Series(data)
print(v)

0    20
1    30
2    40
3    50
dtype: int64

In [29]:
# Creating a DataFrame
data = {
    'Name': ['Nilesh','Azhar','Shiva'], 
    'Age': [20,21,30], 
    'City': ['Pune','Mumbai','Delhi']
}
df = pd.DataFrame(data)
print(df)

     Name  Age    City
0  Nilesh   20    Pune
1   Azhar   21  Mumbai
2   Shiva   30   Delhi

In [30]:
df = pd.read_csv('transactions.csv') # Read CSV file

In [31]:
print(df.head(5)) # first 5 rows

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1

In [32]:
print(df.tail(5)) # last 5 rows

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [33]:
print(df.info()) # Information about the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 532.0+ bytes
None

In [34]:
print(df.describe()) # summary statistics

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [35]:
print(df['TransactionID']) # Accessing a column

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: TransactionID, dtype: int64

In [36]:
print(df['Quantity'].sum()) # sum of Quantity column

24

In [37]:
print(df[['Quantity', 'UserID']]) # Selecting multiple columns

   Quantity  UserID
0         1     7.0
1         1     3.0
2         1     3.0
3         3     1.0
4         1     2.0
5         6     2.0
6         1     3.0
7         3     NaN
8         3     7.0
9         4     3.0

In [38]:
print(df.iloc[4]) # 5th row

TransactionID               5
TransactionDate    2013-06-06
UserID                    2.0
ProductID                   4
Quantity                    1
Name: 4, dtype: object

In [25]:
filtered_df = df[df['Quantity'] > 1] # Filter rows based on condition
print(filtered_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [40]:
df.rename(columns = {'UserID':'CustomerID'}, inplace = True) # Rename column
print(df)

   TransactionID TransactionDate  CustomerID  ProductID  Quantity
0              1      2010-08-21         7.0          2         1
1              2      2011-05-26         3.0          4         1
2              3      2011-06-16         3.0          3         1
3              4      2012-08-26         1.0          2         3
4              5      2013-06-06         2.0          4         1
5              6      2013-12-23         2.0          5         6
6              7      2013-12-30         3.0          4         1
7              8      2014-04-24         NaN          2         3
8              9      2015-04-24         7.0          4         3
9             10      2016-05-08         3.0          4         4

In [41]:
print(df.isnull().sum()) # Check for missing values

TransactionID      0
TransactionDate    0
CustomerID         1
ProductID          0
Quantity           0
dtype: int64

In [54]:
df['Quantity'] = df['Quantity'].fillna(df['Quantity'].mean()) # Fill missing values
print(df)

   TransactionID TransactionDate  CustomerID  ProductID  Quantity
0              1      2010-08-21         7.0          2         1
1              2      2011-05-26         3.0          4         1
2              3      2011-06-16         3.0          3         1
3              4      2012-08-26         1.0          2         3
4              5      2013-06-06         2.0          4         1
5              6      2013-12-23         2.0          5         6
6              7      2013-12-30         3.0          4         1
8              9      2015-04-24         7.0          4         3
9             10      2016-05-08         3.0          4         4

In [53]:
df.dropna(inplace=True) # Drop missing values
print(df)

   TransactionID TransactionDate  CustomerID  ProductID  Quantity
0              1      2010-08-21         7.0          2         1
1              2      2011-05-26         3.0          4         1
2              3      2011-06-16         3.0          3         1
3              4      2012-08-26         1.0          2         3
4              5      2013-06-06         2.0          4         1
5              6      2013-12-23         2.0          5         6
6              7      2013-12-30         3.0          4         1
8              9      2015-04-24         7.0          4         3
9             10      2016-05-08         3.0          4         4

In [55]:
df_sorted = df.sort_values(by=['Quantity', 'TransactionDate'], ascending=False) # Sort by Quantity
print(df_sorted)

   TransactionID TransactionDate  CustomerID  ProductID  Quantity
5              6      2013-12-23         2.0          5         6
9             10      2016-05-08         3.0          4         4
8              9      2015-04-24         7.0          4         3
3              4      2012-08-26         1.0          2         3
6              7      2013-12-30         3.0          4         1
4              5      2013-06-06         2.0          4         1
2              3      2011-06-16         3.0          3         1
1              2      2011-05-26         3.0          4         1
0              1      2010-08-21         7.0          2         1

In [56]:
subset_rows = df.iloc[[0,2,5]] # Select rows 1,3 and 6
print(subset_rows)

   TransactionID TransactionDate  CustomerID  ProductID  Quantity
0              1      2010-08-21         7.0          2         1
2              3      2011-06-16         3.0          3         1
5              6      2013-12-23         2.0          5         6

In [60]:
foo = [True, False, True, False, True, False, True, False, True] # Select rows based on a list
subset_rows = df[foo]
print(subset_rows)

   TransactionID TransactionDate  CustomerID  ProductID  Quantity
0              1      2010-08-21         7.0          2         1
2              3      2011-06-16         3.0          3         1
4              5      2013-06-06         2.0          4         1
6              7      2013-12-30         3.0          4         1
9             10      2016-05-08         3.0          4         4

In [61]:
subset = df[df['Quantity']>1][['TransactionID', 'Quantity']] # Select rows based on condition and columns
print(subset)

   TransactionID  Quantity
3              4         3
5              6         6
8              9         3
9             10         4

In [62]:
col_to_select = ['TransactionID', 'TransactionDate'] # Select columns based on a list
subset_cols = df[col_to_select] 
print(subset_cols)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
8              9      2015-04-24
9             10      2016-05-08

In [63]:
col_to_exclude = ['TransactionID', 'TransactionDate'] # Exclude columns based on a list
subset_cols = df[[col for col in df.columns if col not in col_to_exclude]]
print(subset_cols)

   CustomerID  ProductID  Quantity
0         7.0          2         1
1         3.0          4         1
2         3.0          3         1
3         1.0          2         3
4         2.0          4         1
5         2.0          5         6
6         3.0          4         1
8         7.0          4         3
9         3.0          4         4

In [64]:
df['TransactionDate'] = pd.to_datetime(df['TransactionDate']) # Convert to datetime
print(df.dtypes)

TransactionID               int64
TransactionDate    datetime64[ns]
CustomerID                float64
ProductID                   int64
Quantity                    int64
dtype: object

In [66]:
#insert a new column New = CustomerID + TransactionID
df['New'] = df['CustomerID'] + df['TransactionID']
print(df.head())

   TransactionID TransactionDate  CustomerID  ProductID  Quantity  New
0              1      2010-08-21         7.0          2         1  8.0
1              2      2011-05-26         3.0          4         1  5.0
2              3      2011-06-16         3.0          3         1  6.0
3              4      2012-08-26         1.0          2         3  5.0
4              5      2013-06-06         2.0          4         1  7.0

In [89]:
#inserting a new row
new_row = {'TransactionID': 11, 'TransactionDate': '2020-01-01 00:00:00', 'CustomerID': 1, 'ProductID': 1, 'Quantity': 1, 'New': 1.0}
new_row_df = pd.DataFrame([new_row])
df = pd.concat([df, new_row_df], ignore_index=True)

In [93]:
print(df)

    TransactionID      TransactionDate  CustomerID  ProductID  Quantity   New
0               1  2010-08-21 00:00:00         7.0          2         1   8.0
1               2  2011-05-26 00:00:00         3.0          4         1   5.0
2               3  2011-06-16 00:00:00         3.0          3         1   6.0
3               4  2012-08-26 00:00:00         1.0          2         3   5.0
4               5  2013-06-06 00:00:00         2.0          4         1   7.0
5               6  2013-12-23 00:00:00         2.0          5         6   8.0
6               7  2013-12-30 00:00:00         3.0          4         1  10.0
7               9  2015-04-24 00:00:00         7.0          4         3  16.0
8              10  2016-05-08 00:00:00         3.0          4         4  13.0
10             11  2020-01-01 00:00:00         1.0          1         1   1.0

In [94]:
df.loc[df['TransactionID'] == 11, 'Quantity'] = 2 # Update Quantity where TransactionID is 11

In [95]:
print(df)

    TransactionID      TransactionDate  CustomerID  ProductID  Quantity   New
0               1  2010-08-21 00:00:00         7.0          2         1   8.0
1               2  2011-05-26 00:00:00         3.0          4         1   5.0
2               3  2011-06-16 00:00:00         3.0          3         1   6.0
3               4  2012-08-26 00:00:00         1.0          2         3   5.0
4               5  2013-06-06 00:00:00         2.0          4         1   7.0
5               6  2013-12-23 00:00:00         2.0          5         6   8.0
6               7  2013-12-30 00:00:00         3.0          4         1  10.0
7               9  2015-04-24 00:00:00         7.0          4         3  16.0
8              10  2016-05-08 00:00:00         3.0          4         4  13.0
10             11  2020-01-01 00:00:00         1.0          1         2   1.0

In [99]:
#Print Summary of Transaction data set
print(df.describe())

       TransactionID  CustomerID  ProductID   Quantity        New
count      10.000000   10.000000  10.000000  10.000000  10.000000
mean        5.800000    3.200000   3.300000   2.300000   7.900000
std         3.425395    2.149935   1.251666   1.702939   4.280446
min         1.000000    1.000000   1.000000   1.000000   1.000000
25%         3.250000    2.000000   2.250000   1.000000   5.250000
50%         5.500000    3.000000   4.000000   1.500000   7.500000
75%         8.500000    3.000000   4.000000   3.000000   9.500000
max        11.000000    7.000000   5.000000   6.000000  16.000000

In [101]:
print(len(df)) # Number of rows
print(len(df.columns)) # Number of columns
print(df.shape) # Number of rows and columns

10
6
(10, 6)

In [105]:
print(df.index.values) # Index values

[ 0  1  2  3  4  5  6  7  8 10]

In [103]:
print(df.columns.values) # Column names

['TransactionID' 'TransactionDate' 'CustomerID' 'ProductID' 'Quantity'
 'New']

In [106]:
print(df.head(10)) #Top 10 rows

    TransactionID      TransactionDate  CustomerID  ProductID  Quantity   New
0               1  2010-08-21 00:00:00         7.0          2         1   8.0
1               2  2011-05-26 00:00:00         3.0          4         1   5.0
2               3  2011-06-16 00:00:00         3.0          3         1   6.0
3               4  2012-08-26 00:00:00         1.0          2         3   5.0
4               5  2013-06-06 00:00:00         2.0          4         1   7.0
5               6  2013-12-23 00:00:00         2.0          5         6   8.0
6               7  2013-12-30 00:00:00         3.0          4         1  10.0
7               9  2015-04-24 00:00:00         7.0          4         3  16.0
8              10  2016-05-08 00:00:00         3.0          4         4  13.0
10             11  2020-01-01 00:00:00         1.0          1         2   1.0

In [108]:
df.rename(columns = {'Quantity': 'Quant'}, inplace=True) # Rename column
print(df)

    TransactionID      TransactionDate  CustomerID  ProductID  Quant   New
0               1  2010-08-21 00:00:00         7.0          2      1   8.0
1               2  2011-05-26 00:00:00         3.0          4      1   5.0
2               3  2011-06-16 00:00:00         3.0          3      1   6.0
3               4  2012-08-26 00:00:00         1.0          2      3   5.0
4               5  2013-06-06 00:00:00         2.0          4      1   7.0
5               6  2013-12-23 00:00:00         2.0          5      6   8.0
6               7  2013-12-30 00:00:00         3.0          4      1  10.0
7               9  2015-04-24 00:00:00         7.0          4      3  16.0
8              10  2016-05-08 00:00:00         3.0          4      4  13.0
10             11  2020-01-01 00:00:00         1.0          1      2   1.0

In [111]:
df.rename(columns={'CustomerID': 'UserID', 'ProductID': 'ItemID'}, inplace=True) # Rename multiple columns
print(df)

    TransactionID      TransactionDate  UserID  ItemID  Quant   New
0               1  2010-08-21 00:00:00     7.0       2      1   8.0
1               2  2011-05-26 00:00:00     3.0       4      1   5.0
2               3  2011-06-16 00:00:00     3.0       3      1   6.0
3               4  2012-08-26 00:00:00     1.0       2      3   5.0
4               5  2013-06-06 00:00:00     2.0       4      1   7.0
5               6  2013-12-23 00:00:00     2.0       5      6   8.0
6               7  2013-12-30 00:00:00     3.0       4      1  10.0
7               9  2015-04-24 00:00:00     7.0       4      3  16.0
8              10  2016-05-08 00:00:00     3.0       4      4  13.0
10             11  2020-01-01 00:00:00     1.0       1      2   1.0

In [112]:
df.rename(columns = {'New': 'Price'}, inplace=True) # Rename New to Price

In [113]:
print(df)

    TransactionID      TransactionDate  UserID  ItemID  Quant  Price
0               1  2010-08-21 00:00:00     7.0       2      1    8.0
1               2  2011-05-26 00:00:00     3.0       4      1    5.0
2               3  2011-06-16 00:00:00     3.0       3      1    6.0
3               4  2012-08-26 00:00:00     1.0       2      3    5.0
4               5  2013-06-06 00:00:00     2.0       4      1    7.0
5               6  2013-12-23 00:00:00     2.0       5      6    8.0
6               7  2013-12-30 00:00:00     3.0       4      1   10.0
7               9  2015-04-24 00:00:00     7.0       4      3   16.0
8              10  2016-05-08 00:00:00     3.0       4      4   13.0
10             11  2020-01-01 00:00:00     1.0       1      2    1.0

In [117]:
sort = df.sort_values(by='TransactionID', ascending=True) # Sort by TransactionID
print(sort)

    TransactionID      TransactionDate  UserID  ItemID  Quant  Price
0               1  2010-08-21 00:00:00     7.0       2      1    8.0
1               2  2011-05-26 00:00:00     3.0       4      1    5.0
2               3  2011-06-16 00:00:00     3.0       3      1    6.0
3               4  2012-08-26 00:00:00     1.0       2      3    5.0
4               5  2013-06-06 00:00:00     2.0       4      1    7.0
5               6  2013-12-23 00:00:00     2.0       5      6    8.0
6               7  2013-12-30 00:00:00     3.0       4      1   10.0
7               9  2015-04-24 00:00:00     7.0       4      3   16.0
8              10  2016-05-08 00:00:00     3.0       4      4   13.0
10             11  2020-01-01 00:00:00     1.0       1      2    1.0

In [119]:
sort = df.sort_values(by='Quant', ascending=False) # Sort by Quantity
print(sort)

    TransactionID      TransactionDate  UserID  ItemID  Quant  Price
5               6  2013-12-23 00:00:00     2.0       5      6    8.0
8              10  2016-05-08 00:00:00     3.0       4      4   13.0
7               9  2015-04-24 00:00:00     7.0       4      3   16.0
3               4  2012-08-26 00:00:00     1.0       2      3    5.0
10             11  2020-01-01 00:00:00     1.0       1      2    1.0
0               1  2010-08-21 00:00:00     7.0       2      1    8.0
1               2  2011-05-26 00:00:00     3.0       4      1    5.0
2               3  2011-06-16 00:00:00     3.0       3      1    6.0
4               5  2013-06-06 00:00:00     2.0       4      1    7.0
6               7  2013-12-30 00:00:00     3.0       4      1   10.0

In [120]:
#set column order of Transactions as ItemID, UserID, TransactionID, TransactionDate, Quant, Price
df = df[['ItemID', 'UserID', 'TransactionID', 'TransactionDate', 'Quant', 'Price']]
print(df)

    ItemID  UserID  TransactionID      TransactionDate  Quant  Price
0        2     7.0              1  2010-08-21 00:00:00      1    8.0
1        4     3.0              2  2011-05-26 00:00:00      1    5.0
2        3     3.0              3  2011-06-16 00:00:00      1    6.0
3        2     1.0              4  2012-08-26 00:00:00      3    5.0
4        4     2.0              5  2013-06-06 00:00:00      1    7.0
5        5     2.0              6  2013-12-23 00:00:00      6    8.0
6        4     3.0              7  2013-12-30 00:00:00      1   10.0
7        4     7.0              9  2015-04-24 00:00:00      3   16.0
8        4     3.0             10  2016-05-08 00:00:00      4   13.0
10       1     1.0             11  2020-01-01 00:00:00      2    1.0

In [121]:
df = df[['UserID', 'ItemID', 'TransactionID', 'TransactionDate', 'Quant', 'Price']] # Change column order   
print(df)

    UserID  ItemID  TransactionID      TransactionDate  Quant  Price
0      7.0       2              1  2010-08-21 00:00:00      1    8.0
1      3.0       4              2  2011-05-26 00:00:00      1    5.0
2      3.0       3              3  2011-06-16 00:00:00      1    6.0
3      1.0       2              4  2012-08-26 00:00:00      3    5.0
4      2.0       4              5  2013-06-06 00:00:00      1    7.0
5      2.0       5              6  2013-12-23 00:00:00      6    8.0
6      3.0       4              7  2013-12-30 00:00:00      1   10.0
7      7.0       4              9  2015-04-24 00:00:00      3   16.0
8      3.0       4             10  2016-05-08 00:00:00      4   13.0
10     1.0       1             11  2020-01-01 00:00:00      2    1.0

In [127]:
# Extracting arrays from a Data Frame. Get the 2nd column
arr = df.iloc[:, 1].values
print(arr)

[2 4 3 2 4 5 4 4 4 1]

In [129]:
arr = df['ItemID'].values # Get the ItemID column
print(arr)

[2 4 3 2 4 5 4 4 4 1]

In [133]:
subset = df.iloc[[0, 2, 5]] # Select rows 1,3 and 6
print(subset)

   UserID  ItemID  TransactionID      TransactionDate  Quant  Price
0     7.0       2              1  2010-08-21 00:00:00      1    8.0
2     3.0       3              3  2011-06-16 00:00:00      1    6.0
5     2.0       5              6  2013-12-23 00:00:00      6    8.0

In [137]:
subset = df.iloc[0:3] # Select rows 1 to 3
print(subset)

   UserID  ItemID  TransactionID      TransactionDate  Quant  Price
0     7.0       2              1  2010-08-21 00:00:00      1    8.0
1     3.0       4              2  2011-05-26 00:00:00      1    5.0
2     3.0       3              3  2011-06-16 00:00:00      1    6.0

In [138]:
#last 2 rows
subset = df.iloc[-2:]
print(subset)

    UserID  ItemID  TransactionID      TransactionDate  Quant  Price
8      3.0       4             10  2016-05-08 00:00:00      4   13.0
10     1.0       1             11  2020-01-01 00:00:00      2    1.0

In [144]:
#Excluding the last 2 rows
subset = df.iloc[:-2]
print(subset)

   UserID  ItemID  TransactionID      TransactionDate  Quant  Price
0     7.0       2              1  2010-08-21 00:00:00      1    8.0
1     3.0       4              2  2011-05-26 00:00:00      1    5.0
2     3.0       3              3  2011-06-16 00:00:00      1    6.0
3     1.0       2              4  2012-08-26 00:00:00      3    5.0
4     2.0       4              5  2013-06-06 00:00:00      1    7.0
5     2.0       5              6  2013-12-23 00:00:00      6    8.0
6     3.0       4              7  2013-12-30 00:00:00      1   10.0
7     7.0       4              9  2015-04-24 00:00:00      3   16.0

In [145]:
#subset rows where Quant>1
subset = df[df['Quant'] > 1]
print(subset)

    UserID  ItemID  TransactionID      TransactionDate  Quant  Price
3      1.0       2              4  2012-08-26 00:00:00      3    5.0
5      2.0       5              6  2013-12-23 00:00:00      6    8.0
7      7.0       4              9  2015-04-24 00:00:00      3   16.0
8      3.0       4             10  2016-05-08 00:00:00      4   13.0
10     1.0       1             11  2020-01-01 00:00:00      2    1.0

In [150]:
subset_2 = df[df['UserID'] == 2] # Select rows where UserID is 2
print(subset_2)

   UserID  ItemID  TransactionID      TransactionDate  Quant  Price
4     2.0       4              5  2013-06-06 00:00:00      1    7.0
5     2.0       5              6  2013-12-23 00:00:00      6    8.0

In [151]:
subset_3 = df[(df['Quant'] > 1) & (df['UserID'] == 2)] # Select rows where Quant > 1 and UserID > 2
print(subset_3)

   UserID  ItemID  TransactionID      TransactionDate  Quant  Price
5     2.0       5              6  2013-12-23 00:00:00      6    8.0

In [152]:
subset_4 = df[(df['Quant'] > 1) | (df['UserID'] == 2)] # Select rows where Quant > 1 or UserID > 2
print(subset_4)

    UserID  ItemID  TransactionID      TransactionDate  Quant  Price
3      1.0       2              4  2012-08-26 00:00:00      3    5.0
4      2.0       4              5  2013-06-06 00:00:00      1    7.0
5      2.0       5              6  2013-12-23 00:00:00      6    8.0
7      7.0       4              9  2015-04-24 00:00:00      3   16.0
8      3.0       4             10  2016-05-08 00:00:00      4   13.0
10     1.0       1             11  2020-01-01 00:00:00      2    1.0

In [154]:
subset_5 = df[(df['Quant']+df['UserID']) > 3] # Select rows where Quant + UserID > 3
print(subset_5)

   UserID  ItemID  TransactionID      TransactionDate  Quant  Price
0     7.0       2              1  2010-08-21 00:00:00      1    8.0
1     3.0       4              2  2011-05-26 00:00:00      1    5.0
2     3.0       3              3  2011-06-16 00:00:00      1    6.0
3     1.0       2              4  2012-08-26 00:00:00      3    5.0
5     2.0       5              6  2013-12-23 00:00:00      6    8.0
6     3.0       4              7  2013-12-30 00:00:00      1   10.0
7     7.0       4              9  2015-04-24 00:00:00      3   16.0
8     3.0       4             10  2016-05-08 00:00:00      4   13.0